@page
@model Licenta.Pages.Oferte.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Client.NumeIntreg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Client.NumeFirma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Client.NumeIntregReprezentant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Vehicul.NrInmatriculare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].Vehicul.NumarIdentificare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].DataInceputValabilitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta[0].DataSfarsitValabilitate)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Oferta) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.NumeIntreg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.NumeFirma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.NumeIntregReprezentant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicul.NrInmatriculare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicul.NumarIdentificare)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInceputValabilitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSfarsitValabilitate)
            </td>
          
         
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
